@custom-selector :--dropdown .dropdown;

:--dropdown {
  display: inline-block;
  position: relative;
  margin-right: 0.4em;
  white-space: normal;
}

:--dropdown .arrow {
  position: absolute;
  top: 0.1em;
  right: 1em;
  pointer-events: none;
  color: var(--color-light);
}

:--dropdown .arrow:before {
  content: '▼';
}

:--dropdown > label {
  cursor: pointer;
  color: var(--color-alt);
  padding: 0.4em 2.4em 0.4em 1em;
  margin: -0.25em 0 -0.85em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  max-width: 16em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

:--dropdown .menu,
:--dropdown input[type="checkbox"] {
  display: none;
}

:--dropdown input[type="checkbox"]:checked ~ label {
  background: linear-gradient(to bottom, var(--color-alt), var(--color-body));
  color: var(--color-medium);
  cursor: default;
}

:--dropdown input[type="checkbox"]:checked ~ .arrow:before {
  content: '▲';
  color: var(--color-shadow);
}

:--dropdown input[type="checkbox"]:checked ~ .menu {
  display: block;
}

:--dropdown input[type="range"] {
  width: 14em;
}

:--dropdown input[type="text"] {
  background-color: #fff;
  border: none;
  height: calc(var(--line-height) + 0.4em * 2);
  box-shadow: inset 0 1px 0 var(--color-shade);
  padding: 0 0.8em;
  margin: 0.2em 0 0.6em;
  border-radius: var(--border-radius);
  width: 16em;
  color: var(--color-dark);
}

:--dropdown input[type="text"]:focus {
  outline: none;
}

:--dropdown .menu {
  position: absolute;
  top: calc(var(--line-height) + 0.55em);
  left: 0;
  border-radius: 0 var(--border-radius)
    var(--border-radius) var(--border-radius);
  padding: 0.8em 1em 1em;
  background-color: var(--color-body);
  color: var(--color-dark);
  box-shadow: 0 2px 0 var(--color-shade);
}

:--dropdown .menu button {
  width: 100%;
  margin-top: 0.4em;
}

:--dropdown .radio {
  display: block;
  width: 10em;
}

:--dropdown .radio input[type="radio"] {
  margin-right: 0.2em;
}

