@media screen and (max-width: 72em) {

  :--collection {
    column-count: 3;
  }

}

@media screen and (max-width: 48em) {

  :--collection {
    column-count: 2;
  }

  :--dropdown {
    display: none;
  }

}

@media screen and (max-width: 40em) {

  :--collection {
    padding-top: calc(var(--line-height) * 5 / 2 + calc(var(--line-height) * 3 / 2));
    padding-left: var(--line-height);
    padding-right: var(--line-height);
    column-gap: var(--line-height);
  }

  :--collection .card {
    margin-bottom: calc(var(--line-height) - 0.25em);
  }

  :--header {
    padding-left: var(--line-height);
    padding-right: var(--line-height);
  }

}

@media screen and (max-width: 32em) {

  body {
    font-size: calc(var(--size-body) - 2px);
  }

  :--collection {
    column-count: 1;
  }

  :--collection .info {
    position: relative;
    opacity: 1;
    background: var(--color-input);
    padding-top: calc(var(--card-padding) - 2px);
  }

  :--upload form {
    max-width: 100%;
  }

  :--upload form label span {
    display: none;
  }

  :--upload form label input {
    float: none;
    width: 100%;
  }

  :--upload form .file-text {
    color: var(--color-alt);
    width: auto;
    left: calc(var(--line-height) * 3 / 4);
  }

  /* Vendor prefixes suck! */
  :--upload form label input[type="text"]::-webkit-input-placeholder { opacity: 1; color: var(--color-alt); }
  :--upload form label input[type="text"]:-moz-placeholder { opacity: 1; color: var(--color-alt); }
  :--upload form label input[type="text"]::-moz-placeholder { opacity: 1; color: var(--color-alt); }
  :--upload form label input[type="text"]:-ms-input-placeholder { opacity: 1; color: var(--color-alt); }
  :--upload form label input[type="text"]:placeholder { opacity: 1; color: var(--color-alt); }

  :--header {
    position: absolute;
  }

  main > nav {
    padding: calc(var(--line-height) * 1 / 2) 0 var(--line-height);
  }

  :--zoom img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
