:root {

  /* colors */
  --color-bg-top:     rgb(131, 131, 230);
  --color-bg-header:  rgba(131, 131, 230, 0.9375);
  --color-bg-bottom:  rgb(51, 236, 174);
  --color-dark:       rgba(0, 0, 0, 0.75);
  --color-medium:     rgba(0, 0, 0, 0.5);
  --color-shadow:     rgba(0, 0, 0, 0.25);
  --color-shade:      rgba(0, 0, 0, 0.125);
  --color-input:      rgba(0, 0, 0, 0.0625);
  --color-bright:     rgba(255, 255, 255, 0.9375);
  --color-body:       rgba(255, 255, 255, 0.75);
  --color-alt:        rgba(255, 255, 255, 0.5);
  --color-light:      rgba(255, 255, 255, 0.25);
  --color-border:     rgba(255, 255, 255, 0.125);
  --color-link:       rgb(98, 98, 209);
  --color-delete:     rgb(209, 98, 98);

  /* fonts */
  --font-body:
    'Avenir', /* Mac */
    'Cantarell', /* Linux */
    'Oxygen', /* Linux */
    'Segoe UI', /* Windows */
    'Bitstream Vera Sans', /* Linux fallback */
    sans-serif /* Generic */;

  /* measurements */
  --max-width: 96em;
  --size-body: 16px;
  --line-height: calc(1em * 8 / 5);
  --border-radius: calc(1em * 3 / 10);
  --card-padding: 6px;
  --card-gap: calc(var(--line-height) * 3 / 2);
  --page-gap: calc(var(--line-height) * 5 / 2);
  --speed-slow: 0.30s;
  --speed-fast: 0.15s;

}
